<!--CITED SOURCES: https://www.w3schools.com/howto/howto_js_lightbox.asp -->

<div class="modal fade" id="lightBoxModal" aria-hidden="true" aria-labelledby="lightBoxModalTitle">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5>LightBox: Some of My Favorite Cars</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div id="mainPicture" class="row">
                        <div id="catalina" class="">
                            <img src="~/img/1966_Pontiac_Catalina.png" style="width:100%">
                        </div>
                    </div>
                    <div class="row">
                        <p id="describe">This is a 1966 Pontiac Catalina</p>
                    </div>
                    <div id="pictureRow" class="row">
                        <div id="camaro" class="col-md-4">
                            <img src="~/img/1981_Chevrolet_Camaro.png" style="width:100%">
                        </div>
                        <div id="rX7" class="col-md-4">
                            <img src="~/img/2000_Mazda_Rx7.png" style="width:100%">
                        </div>
                        <div id="roadRunner" class="col-md-4">
                            <img src="~/img/1970_Plymouth_Road Runner.png" style="width:100%">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>